*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background: #d8bbdb;
}
.image-gallery{
    width: 1000px;
    display: flex;
    overflow-x: scroll;
}
.image-gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.image-gallery div img{
    width: 100%;
    filter: grayscale(100);
    transform: 0.6s;
}
.image-gallery::-webkit-scrollbar{
    display: none;
}
.image-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backbtn, #forwardbtn{
    width: 90px;
     cursor: pointer;
    margin: 40px;
    transform: 0.6s;
}
 #forwardbtn:hover{
    transform: scale(1.1);
}
#backbtn:hover{
    transform: scale(1.1);
}
.image-gallery div img:hover{
        filter: grayscale(0);
        cursor: pointer;
        transform: scale(1.1);
}
