*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    color: #fff;
    padding-top: 1%;
    padding-left: 3%;
}
.container h1{
    display: flex;
    align-items: center;
    background: linear-gradient(155deg,#aa07f5, #f9e506);
    color: #fff;
    font-size: 25px;
    outline: 0;
    border: 0;
    border-radius: 15px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
    width: 13rem;
}
.container h1 img{
    width: 60px;
    margin-right: 9px;
}

.container button img{
    width: 20px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd, #571094);
    color: #fff;
    font-size: 13px;
    outline: 0;
    border: 0;
    border-radius: 42px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
}
.input{
      position: relative;
      width: 100%;
      max-width: 500px;
      min-width: 100px;
      min-height: 200px;
      background: #fff;
      color: #001dab;
      padding: 20px;
      margin: 20px 0;
      outline: none;
      border-radius: 10px;
}
.input img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}